.office {
  width: 70%;
  margin: 0 auto;
}
.office .infor-title {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #0061b0;
}

.office .infor-item span {
  font-size: 16px;
  font-weight: 500;
  color: #989898;
  text-align: justify;
}
.office .infor-item i {
  font-size: 16px;
  color: #989898;
}

.office .infor-name {
  font-size: 18px !important;
  color: #000000 !important;
}

@media (min-width: 1920px) {
  .office {
    width: 66%;
  }
  .office img {
    height: 180px !important;
  }
  .office {
    margin-bottom: 120px;
  }
  .office .infor-item span {
    font-size: 20px;
  }
}
