body {
  font-size: 16px;
}
.header-title {
  font-size: 20px;
  font-weight: 500;
  color: #3f51b5;
}
.header-title span:hover {
  cursor: pointer;
}
.wrap-body {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 1920px) {
  .wrap-body {
    width: 75%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 780px) {
  .wrap-body {
    width: 90%;
    margin: 0 auto;
  }
}
