.wrap-aboutUs .bg-img {
  width: 90%;
  height: 200px;
  float: left;
  background: #08999c;
  border-radius: 6px;

  margin-top: -200px;
}

.wrap-aboutUs .img {
  width: 93%;
  height: 550px;
  margin: 0 auto;
  border-radius: 6px !important;
  position: relative;
  /* position: absolute; */
}

.wrap-aboutUs .title-img {
  width: 80%;
  background: #fbbb63;
  margin-left: 10%;
  border-radius: 15px;
  position: absolute;
  top: 91%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.wrap-aboutUs .wrap-content {
  padding: 30px;
}
.wrap-aboutUs .wrap-content .header-title p {
  font-size: 45px;
  font-weight: 500;
  color: #08999c;
  margin-bottom: 0 !important;
}

.wrap-aboutUs .wrap-content .middle-title span {
  font-size: 24px;
  color: #fbbb63;
}

.wrap-aboutUs .wrap-content .bottom-title span {
  font-size: 18px;
  color: #838383;
}

.wrap-aboutUs .wrap-content .bottom-btn a {
  padding: 20px 50px 20px 50px;
  border-radius: 4px;
  background: #08999c;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.wrap-aboutUs .wrap-content .bottom-btn a:hover {
  cursor: pointer;
  background-color: #fbbb63;
  transition: all 0.3s;
}

#news {
  margin-top: 30px;
  padding: 40px;
}
#news .news-title {
  text-align: center;
}
#news .news-title span {
  font-weight: 500;
  font-size: 40px;
  color: #08999c;
}

#news .news-category {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
#news .title-category {
  width: 80%;
  height: 80px;
  border-radius: 15px 15px 0px 0px;
  padding: 20px;
  background-color: white;
  position: absolute;
  top: 82.5%;
  left: 10%;
  text-align: center;
}
#news .title-category:hover {
  background-color: #089a9a;
  transition: all 300ms;
}
#news .title-category:hover span {
  cursor: pointer;
  color: white;
  transition: all 300ms;
}
#news .title-category span {
  color: #08999c;
  font-size: 20px;
  font-weight: 500;
}

#home-banner {
  width: 100%;
  height: 330px;
  position: relative;
}

#home-banner .wrapper-banner {
  width: 100%;
  height: 100%;
}

#home-banner .bg-img {
  width: 100%;
  height: 330px;
  top: 0%;
  position: absolute;
  background: rgba(0, 0, 0, 0.27);
}

#home-banner .banner-content {
  position: absolute;
  top: 20%;
  left: 20%;
}
#home-banner .banner-content .bottom-title {
  width: 530px;
}
#home-banner .banner-content .bottom-title span {
  font-weight: 500;
  color: white;
  font-size: 39px;
}

#process {
  width: 100%;
}
#process .bg-process {
  height: 400px;
}

#process .process1 {
  background-color: rgba(8, 153, 156, 0.04);
  text-align: center;
}

#process .process-main-title {
  padding-top: 50px;
}

#process .process-main-title span {
  font-weight: 500;
  font-size: 40px;
  color: #08999c;
}

#process .process-item {
  width: 72%;
  left: 14%;
  top: 15%;
  height: 300px;
  padding: 30px;
  position: absolute;
}
#process .process-item .process-image {
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0px 0px;
}
#process .process-item .process-image img {
  border-radius: 15px 15px 0px 0px;
}

#process .process-item .process-title {
  width: 100%;
  background-color: white;
  box-shadow: -9px 19px 51px -8px rgba(0, 0, 0, 0.06);
}

#process .process-item .process-icon {
  width: 100%;
  position: absolute;
  top: 39%;
}
#process .process-item .process-icon .icon {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 22px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
#process .process-item .process-icon .icon img {
  width: 82%;
  height: 82%;
  vertical-align: middle;
}
#process .process-item .process-title {
  padding: 40px;
  text-align: center;
}
#process .process-item .process-title .p-title span {
  font-size: 26px;
  font-weight: 500;
  color: #08999c;
}

#process .process-item .process-title .p-content span {
  font-size: 18px;
  font-weight: 400;
  color: #656565;
}

#process .process-item .process-title .p-function .p-function-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #08999c;
  padding: 10px;
}
#process .process-item .process-title .p-function .p-function-icon:hover {
  cursor: pointer;
  background-color: #fbbb63;
  transition: all 300ms;
}
#process .process-item .process-title .p-function .p-function-icon i {
  font-size: 18px;
  color: white;
  vertical-align: middle;
}
#product .wrap-product {
  box-shadow: none !important;
}

#product .wrap-product .product-main-title {
  text-align: center;
}
#product .wrap-product .product-main-title span {
  font-size: 40px;
  font-weight: 500;
  color: #08999c;
}
#product .wrap-product .product-image {
  width: 90%;
  margin: 0 auto;
  height: 250px;
  padding: 30px;
}

#product .wrap-product .product {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #08999c;
  position: relative;
}
#product .wrap-product .product:hover .product-bg {
  opacity: 1;
  cursor: pointer;
  transition: 0.5s ease;
}

#product .wrap-product .product-bg {
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  position: absolute;
  top: 0;
  opacity: 0;
}

#product .wrap-product .product-description {
  position: absolute;
  top: 69%;
  opacity: 0;
  width: 90%;
  left: 5%;
}

#product .wrap-product .product-description .p-category {
  width: 50%;
  background: #08999c;
  border-radius: 5px 5px 0px 0px;
}
#product .wrap-product .product-description .p-category span {
  color: white;
}

#product .wrap-product .product-description .p-name {
  width: 100%;
  padding: 15px;
  background: #fbbb63;
  border-radius: 0px 10px 0px 0px;
}
#product .wrap-product .product-description .p-name span {
  color: #616161;
  font-weight: 500;
  font-size: 16px;
}
#product .wrap-product .product:hover .product-description {
  opacity: 1;
  cursor: pointer;
  transition: 0.5s ease;
}

.slick-dots li.slick-active button:before {
  color: #08999c;
}

.slick-dots li button:before {
  font-size: 10px;
}
