.about {
  margin-top: 50px;
}
.about .wrap-content {
  padding-top: 10px;
}
.about .wrap-content .header-title {
  border-left: 2px solid #000000;
  padding: 15px;
}

.about .wrap-content .header-title .title-top {
  font-size: 20px;
  color: #0d86f5;
}
.about .wrap-content .header-title .title-bottom {
  font-size: 30px;
  color: #0061b0;
}

.about .bottom-title {
  font-weight: 500;
  text-align: justify;
}
