.wrap-advisory {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  position: relative;
}
.bg-advisory {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: rgba(9, 20, 56, 0.66);
  border-radius: 10px;
}
.content-advisory {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  padding: 30px;
  text-align: center;
}
.content-advisory span {
  color: white;
}
