#header {
  width: 100%;
  height: 92px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px -5px #dedede;
}
#header-top {
  height: 44px;
  width: 100%;
  background-color: #f6f4ec;
}

#header-top .wrap-header {
  padding-top: 0px;
  padding-right: 0px;
}
#header-top .wrap-header ul a {
  text-decoration: none;
}
#header-top .wrap-header ul a:hover {
  text-decoration: none !important;
}

#header-top ul a:hover span {
  color: red;
}
#header-top ul li {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}
#header-top ul li span {
  font-size: 16px;
  color: #6e7673;
}
#header-top ul li i {
  color: #6e7673;
  font-size: 18px;
}
#header-top .social-connect {
  border-left: none !important;
  border-right: none !important;
  background: #eceae0;
}

.wrap-header {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wrap-header ul {
  list-style-type: none;
}

.wrap-header ul li {
  display: inline-block;
}
.menu {
  padding-left: 0px !important;
}
.menu-logo {
  width: 150px;
  margin-left: 0px !important;
}
.menu-logo img {
  width: 100%;
}

.menu-item {
  margin-left: 15px;
}
.menu-item span {
  font-weight: 500;
  color: #009999;
  font-size: 15px;
}

#header ul li a:hover {
  text-decoration: none;
}
#header ul li a:hover span {
  color: #fbbb63;
  transition: all 300ms;
}
.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sticky {
  height: 50px !important;
}
.sticky .wrap-header {
  padding: 5px !important;
}
.sticky img {
  width: 70%;
}
