#header {
  width: 100%;
  height: 92px;
  background-color: #089a9a;
}
#header-top {
  height: 44px;
  width: 100%;
  background-color: #f6f4ec;
}

#header-top .wrap-header {
  padding-top: 0px;
  padding-right: 0px;
}

#header-top ul li {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}
#header-top ul li span {
  font-size: 16px;
  color: #6e7673;
}
#header-top ul li i {
  color: #6e7673;
  font-size: 18px;
}
#header-top .social-connect {
  border-left: none !important;
  border-right: none !important;
  background: #eceae0;
}

.wrap-header {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.wrap-header ul {
  list-style-type: none;
}

.wrap-header ul li {
  display: inline-block;
}
.menu {
  padding-left: 0px !important;
}
.menu-logo {
  width: 150px;
  margin-left: 0px !important;
}
.menu-logo img {
  width: 100%;
}

.menu-item {
  margin-left: 15px;
}
.menu-item span {
  font-weight: 500;
  color: #f6f4ec;
  font-size: 15px;
}
