.introduce-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.introduce-title span {
  font-size: 30px;
  font-weight: 500;
  color: #08999c;
  text-transform: uppercase;
}

.introduce-content {
  padding: 0px 30px 0px 30px;
  margin-top: 60px;
}
