.wrap-news {
  margin: 0 auto;
  height: 400px;
}
.wrap-n {
  height: 350px !important;
}
.wrap-n .img-news {
  height: 250px !important;
}
.wrap-news .img-news {
  height: 300px;
}
.wrap-news .title-news {
  text-align: center;
  padding: 10px;
}
.wrap-news .title-news:hover span {
  color: #0061b0;
}
.wrap-news .title-news span {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.wrap-news .description-news {
  text-align: center;
  padding: 0px 10px 5px 10px;
}

.wrap-news .description-news span {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.wrap-news .more-news {
  text-align: center;
}

.wrap-news .more-news span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.wrap-news:hover {
  cursor: pointer;
}
.wrap-news .img-news:hover {
  opacity: 0.9;
}
.wrap-news .more-news span:hover {
  color: #0061b0;
  font-weight: 500;
}

.title-n {
  background: #fff;
  box-shadow: 0 4px 20px rgb(0 0 0 / 6%);
  padding: 15px 10px 15px 10px;
}
