.banner-img {
  width: 100%;
  height: 500px;
}
.banner-img:hover {
  cursor: pointer;
}

.banner-title .head-title {
  width: 245px;
  border-bottom: 3px solid white;
}
.banner-title .bottom-title {
  width: 500px;
}
.banner-title .bottom-title span {
  font-weight: 450;
  color: white;
  font-size: 16px;
}

.banner-title .head-title span {
  font-weight: 500;
  color: white;
  font-size: 18px;
}

#slider-banner .slick-arrow {
  display: none !important;
}

#slider-banner .slick-prev {
  display: none !important ;
}
#slider-banner .slick-dots {
  bottom: 50px;
}
#slider-banner .slick-dots li button:before {
  color: #ffffff !important;
  font-size: 16px;
  opacity: 0.9;
}

#slider-banner .slick-dots li.slick-active button:before {
  color: #0061b0 !important;
}

@media (min-width: 1920px) {
  #slider-banner {
    height: 700px !important;
  }
  .banner-img {
    height: 700px;
  }
}

@media only screen and (max-width: 780px) {
  #slider-banner {
    height: 160px !important;
  }
  .banner-img {
    height: 160px;
  }
  .banner-img img {
    height: auto;
  }
}
